#appAd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#appAd h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
}

#appAd h3 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 0 0 10px 0;
}

#appAd .app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px 0 gray;
}

#appAd .app-icon {
    margin: 0;    
}

#appAd .app-icon img {
    display: none;
    height: 50px;
    width: 50px;
}

#appAd .app-info {
    display: flex;
    flex-direction: column;
}

#appAd .app-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#appAd .app-links a {   
    text-decoration: none;
}

#appAd .app-badge {
    height: 50px;
    width: 170px;
}

#appAd .app-badge:hover,
#appAd .app-badge:active {
    box-shadow: 0 0 10px 1px #1e90ff;
    background-color: #1e90ff80;
}

#appAd .badge:nth-of-type(even) {
    margin-left: 0;
}

/* Disable hovering effects for mobile/touch applications */
@media (hover: none) {
    #appAd .app-badge:hover {
        box-shadow: none;
        background-color: transparent;
    }
}

/* For screen sizes greater than 400px and less than 550px */
@media only screen and (min-width: 400px){    
    #appAd h3 {
        font-size: 20px;
    }
}

/* For screen sizes greater than 550px */
@media only screen and (min-width: 550px){
  
    #appAd h2{
        font-size: 24px;
    }

    #appAd h3 {
        font-size: 20px;
    }

    #appAd .app-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin: 10px;
        padding: 15px;
        background-color: white;
        box-shadow: 0 2px 5px 0 gray;
    }

    #appAd .app-icon {
        margin: 0 20px 0 0; 
    }

    #appAd .app-icon img {
        display: flex;
        height: 50px;
        width: 50px;
    }

    #appAd .app-links {
        flex-direction: row;
    }

    #appAd .badge:nth-of-type(even) {
        margin-left: 10px;
    }
}

