#appLinks {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#appLinks h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
}

#appLinks h3 {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 10px 0;
}

#appLinks .app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 15px;
    width: 100%;
    min-width: 220px;
    background-color: white;
    box-shadow: 0 2px 5px 0 gray;
}

#appLinks .app-icon {
    margin: 0 20px;    
}

#appLinks .app-icon img {
    height: 90px;
    width: 90px;
}

#appLinks .app-info {
    display: flex;
    flex-direction: column;
}

#appLinks .app-links {
    display: flex;
    flex-direction: column;
}

#appLinks .app-links a {   
    text-decoration: none;
}

#appLinks .app-badge {
    height: 50px;
    width: 170px;
}

#appLinks .app-badge:hover,
#appLinks .app-badge:active {
    box-shadow: 0 0 10px 1px #1e90ff;
    background-color: #1e90ff80;
}

#appLinks .badge:nth-of-type(even) {
    margin-left: 0;
}

/* Disable hovering effects for mobile/touch applications */
@media (hover: none) {
    #appLinks .app-badge:hover {
        box-shadow: none;
        background-color: transparent;
    }
}

/* For screen sizes greater than 550px */
@media only screen and (min-width: 550px){
  
    #appLinks h2{
        font-size: 24px;
    }

    #appLinks .app-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin: 10px;
        padding: 15px;
        width: auto;
        background-color: white;
        box-shadow: 0 2px 5px 0 gray;
    }

    #appLinks .app-icon {
        margin: 0 20px 0 0;    
    }   

    #appLinks .app-links {
        flex-direction: row;
    }

    #appLinks .badge:nth-of-type(even) {
        margin-left: 10px;
    }
}