
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
   	-webkit-box-sizing:border-box;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px; /* header height */
    width: 100%;
    margin: 0;
    padding: 0 5px;
    background: #222222ee;
    color: #ddd;
    box-shadow: 0 1px 6px 0 black;
    z-index: 5;
}

/*--------  --------*/
header .icon-button .material-icons {
    font-size: 36px;
}

header .icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

header .icon-button:hover,
header .icon-button:active {
    background-color: gray;
}

header #menuButton {
    margin: 0;
}

header #logo {
    height: 40px;
}

header #mainLogo {
    height: 40px;
    line-height: 80px;    
    margin: 0 2px;
    cursor: pointer;
}


header #headSpacer {
    flex-grow: 8;
}


/*-------- Search boxes --------*/
header #searchContainer form,
header #mSearchContainer form {
    width: 100%;
}

header #searchButton {
    margin: 0;
}

header #searchBox {
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 40px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 1px 3px 0 #111;
}

header #searchInput {
    margin-left: 20px;
    font-size: 20px;
    width: calc(100% - 45px);
    border: none;
    outline: none;
}

header #mSearchContainer {
    display: flex;
    position: fixed;
    top: 60px;    /* header height */
    left: 0;
    width: 100%;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    background-color: #333333cc;
    transition: height 0.4s, visibility 0.2s;
    overflow: hidden;
    z-index: 1;
}

header #mSearchBox {
    display: flex;
    align-items: center;
    height: 40px;
    width: 50%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 #111;
}

header #mSearchInput {
    margin-left: 20px;
    font-size: 20px;
    width: calc(100% - 45px);
    border: none;
    outline: none;
}

header #clearSearchButton,
header #mClearSearchButton {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

header #clearSearchButton i,
header #mClearSearchButton i {
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

header #clearSearchButton i:hover,
header #mClearSearchButton i:hover,
header #clearSearchButton i:active,
header #mClearSearchButton i:active {
    color: black;
}

header .round-search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 60px;
    margin-left: 5px;
    font-size: 40px;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 0 20px 20px 0;
    color: white;
    background-color: dodgerblue;
}


header .round-search-button:hover {
    background-color: #777;
}


header .round-search-button:active {
    background-color: #333;
}



/* Side Menu */
header #sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    margin-top: 60px; /* Header height */
    width: 0px;
    height: calc(100% - 60px); /* Minus header height */
    overflow-x: hidden;
    transition: 0.5s;
    color: white;
    background-color: #111111;
}

/* Side menu links */
header #sideMenuLinks a {
    padding: 8px 8px 8px 20px;
    height: 50px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;

    white-space: nowrap; /* Need to check for extended link length */
}

header #sideMenuLinks a:hover,
header #sideMenuLinks a:active {
    color: #f1f1f1;
}

header #sideMenuHead {
    display: block;  
    color: #818181;
    font-size: 36px;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;    
}

header #sideMenuHead i {
    cursor: pointer;
}

header #sideMenuLinks {
    margin-top: 5px;
}

header #closeMenuButton:hover,
header #closeMenuButton:active {
    color: white;
}





/* Disable hovering effects for mobile/touch applications */
@media (hover: none) {
    header #sideMenuLinks a:hover {
        color: #818181;
    }

    header #closeMenuButton:hover {
        color: #818181;
    }

    header .icon-button:hover {
        background-color: transparent;
    }
    
    header .round-search-button:hover {
        background-color: dodgerblue;
    }

}



/* Mobile Layout: 300px to 399px. */
@media only screen and (min-width: 150px){
    header {
        justify-content: space-between;
    }
        
    header .mobile {
        display: flex;
    }

    header #searchContainer,
    header #headSpacer {
        display: none;
    }
    
    header #mSearchBox {
        width: 100%;
    }

    header #mSearchInput {
        font-size: 18px;
    }    
}

/* Mobile Layout: 400px to 799px. */
@media only screen and (min-width: 400px){
    header #mSearchContainer {
        flex-wrap: nowrap;
        height: 60px;
    }

    header #mSearchBox {
        width: 100%;
    }

    header #mSearchInput {
        font-size: 20px;
    }   
}

/* Tablet Layout: 800px to 999px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 800px) {

    header .mobile {
        display: none;
    }

    header #searchContainer {
        display: flex;
        width: 50%;
    }

    header #mSearchContainer {
        display: none;
    }
    
    header #headSpacer {
        display: flex;
    }
}


/* Desktop Layout: 1000px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1000px) {
    header #searchContainer {
        display: flex;
        width: 40%;
    }   
}