/*------- NAV BAR -------   */
#navbar #navMenu {
    font-family: 'Roboto', sans-serif;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 100%;
    background: white;;
}

#navbar .header-spacer {
    display: block;
    height: 60px;  /*-- Header height --*/
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline-block;
    width: auto;
    padding: 5px 20px;
    font-size: 11pt;
    text-align: center;
    font-weight: bold;
    
}

#navbar a,
#navbar a:visited {
    color: #333;
    text-decoration: none;
}

#navbar a:hover,
#navbar a:active {
    color: deepskyblue;
}

/* Tablet Layout: 800px to 999px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 800px) {

    #navbar #navMenu{
        display: flex;
    }
}