/*------- Site map -------*/
#sitemap {
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 15px;
    color: #ddd;
    background: #222;
}

#sitemap .site-logo {
    height: 50px;
    margin: 5px 20px 5px 10px;
    cursor: pointer;
}

#sitemap .site-logo img {
    height: 50px;
}

#sitemap .siteLinks {
    display: flex;
    flex-direction: column;
    font-size: 10pt;
    padding: 0 20px;
    color: #ddd;
    padding: 10px 0;
    margin: 0 15px;
}

#sitemap .siteLinks h3 {
    font-size: 16px;
    color: white;
}

#sitemap a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #999;
    height: 40px;
    padding: 5px 0;
}

#sitemap a:hover,
#sitemap a:active {
    color: white;
    text-decoration: underline;
}

#sitemap .siteLinks .social-icon {
    height: 30px;
    width: 30px;
    margin: 0 5px 0 0;
}

#downloadLinks .badge {
    padding: 10px 0;
    height: auto;
    width: fit-content;
}

#sitemap .app-badge {
    height: 50px;
    width: 170px;
}

#sitemap .app-badge:hover {
    box-shadow: 0 0 10px 1px gray;
    background-color: #80808080;
}


/* Disable hovering effects for mobile/touch applications */
@media (hover: none) {
    #sitemap a:hover {
        color: #ddd;
    }

    #sitemap .app-badge {
        box-shadow: none;
        background-color: transparent;
    }
}


/* Mobile Layout: 300px to 399px. */
@media only screen and (min-width: 150px){
    #sitemap {
        flex-wrap: wrap;
    }

    #sitemap .site-logo {
        width: 100%;
    }

    #sitemap .siteLinks {
        width: 100%;
    }    
}

/* Mobile Layout: 400px to 799px. */
@media only screen and (min-width: 400px){
    #sitemap {
        flex-wrap: wrap;
    }

    #sitemap .site-logo {
        width: 100%;
    }

    #sitemap .siteLinks {
        width: 45%;
    }    
}

/* Tablet Layout: 800px to 999px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 800px) {
    #sitemap {
        flex-wrap: nowrap;
    }
    
    #sitemap .site-logo {
        width: 33.33%;
    }

    #sitemap .siteLinks {
        width: 33.33%;
    }
}


/* Desktop Layout: 1000px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1000px) {        
    #sitemap {
        flex-wrap: nowrap;
    }

    #sitemap .site-logo {
        width: 25%;
    }

    #sitemap .siteLinks {
        width: 25%;
    }    
}